div{
  display: inline-block ;
  position: relative ;
}
div::after{
  position: absolute;
  content: attr(title);
  left: 0;
  color: #fff ;
  padding: .5em;
  margin: .5em ;
  background: rgba(0, 0, 0, 0.5);
}
